* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: sans-serif;
}

h1{
  font-size: 30px;
  font-weight: lighter;
}

nav {
  background-color: #f1f1f1;
}

a{
  color: #24b5e1;
}

.menu  {
  padding: 6px 0;
  margin: 0px;
  display: block;

}

.menu li {
  display: inline-block;
	padding: 5px 0;
  width: 19.6%;
  text-align: center;
}

.menu li:first-child {
  text-align: left;
}

.menu li:last-child {
  text-align: right;
}

.menu-item{
  text-decoration: none;
  color: #393939;
  font-weight: bold;
  font-size: 16px;
}

.main-block-location {
  width: 980px;
  margin: 0 auto;
}

.main-block-location::after {
  clear: both;
  content: '';
  display: table;
}

.name {
width: 200px;
float: left;
line-height: 90px;
padding: 0;
margin: 0;
color: #31b6de;
font-size: 35px;
}

.phone {
width: 200px;
float: right;
line-height: 90px;
padding: 0 0 0 30px;
margin: 0;
background-image: url('images/icon-mobile.png');
background-repeat: no-repeat;
background-position: left center;
font-weight: bold;
font-size: 18px;
}

.clear {
  clear: both;
}

.image-big {
  width: 100%;
}

.content {
  width: 700px;
  float: left;

}

.link a, .link{
  color: grey;
}

.link {
  line-height: 40px;
}

.sidebar {
  width: 230px;
  float: right;
  padding-top: 70px;
}

.table {
  width: 100%;
  margin: 10px;
}

.table tr, .table td {
  margin: 25px;
  padding: 10px;
}

.table-link-1 a{
  text-decoration: none;
}

.image-small{
  margin-left: 22px;
  display: inline-block;
}

.image-small:first-child {
	margin-left: 0px;
}

h4 {
  color: #565656;
  text-transform: uppercase;
}

.table thead {
  color: gray;
}

.table{
  font-size: 12px;
}

/*Табы*/

.tabs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
.tabs:after {
	content: "";
	clear: both;
	display: block;
	height: 240px;
}
.tabs li {
	float: left;
}
.tabs li > input {
	display: none;
}
.tabs li > label {
	display: inline-block;
	border-right-width: 0;
	border-bottom-width: 0;
	height: 33px;
	line-height: 33px;
	padding: 0 20px;
	cursor: pointer;
  background-color: #23b5e1;
  margin-left: 5px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 1px;
}
.tabs li:last-child > label {
	border-right-width: 1px;
}

.tabs li:first-child > label {
	margin-left: 0px;
}

.tabs .tab-content {
	display: none;
	position: absolute;
	left: 0;
	padding: 20px 0;
	border-top: 1px solid #24b6e1;
	height: 200px;
	overflow-y: auto;
  text-align: justify;
}

.tabs li > input:checked + label {
	background-color: #24b6e2;
  color: white;
}
.tabs li > input:checked ~ .tab-content {
	display: block;
}

.search-form {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.search-input, .search-button {
  border: none;
  outline: none;
  border-radius: 5px;
}
.search-input {
  width: 100%;
  height: 27px;
  background: black;
  padding-left: 15px;
  color: #969696;
}
.search-button {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 3px;
  right: 10px;
  background: black;
  cursor: pointer;
}
.search-button:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #24b5e2;
  font-size: 15px;
}

.news {
  padding-bottom: 14px;
  padding-top: 8px;
}

.news-date{
  color: grey;
  font-size: 11px;
  margin-top: 6px;
}

.news-text {
  margin-top: 12px;

}


.all-news{
  padding: 15px 0px 15px 0px;
  text-align: right;
}

.all-news-button{
  background-color: #b6b6b6;
  color: black;
  border-radius: 4px;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 7px 16px;
}

.subscription .form-row {
  padding-bottom: 16px;
}

.form-row input {
  width: 100%;
  height: 27px;
  background: black;
  padding-left: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #969696;
  font-size: 11px;
}

.subscription-button-box{
  text-align: right;
}

.subscription-button-box input{
  background-color: #b6b6b6;
  color: white;
  border-radius: 4px;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 7px 16px;
  font-size: 14px;
}

footer {
  border-top: 1px dotted gray;
  font-size: 12px;
  color: #7d7d7d;
}
